/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  padding: 13px;
  background-color: #00ff44;
}
#header {
  padding-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
#header h1 {
  flex: 1 1 auto;
}
.access {
  position: absolute;
  left: -10000px;
}
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 13px;
}
.join {
  background: black;
  color: #EEE;
}
.leave {
  background: #666;
  color: #EEE;
}
#call-button {
  clear: both;
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 200px;
}
video {
  max-width: 100%;
  display: block;
  border: 5px black;
}
#self {
  width: 50%;
  float: left;
}
#peer{
  width:50%;
}